<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esqueci minha senha</title>
</head>
<body>
    <h1>Esqueci minha senha</h1>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/forgot-password}" method="post">
        <label for="username">Usuário:</label><br/>
        <input type="text" id="username" name="username" required/><br/><br/>
        <button type="submit">Redefinir senha</button>
    </form>
</body>
</html>